<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- links to other pages /patient , /assitant /doctor -->
    
    <h1>Welcome to the Single Doctor App</h1>
    <nav>
        <ul>
            <li><a href="/doctor">Doctor</a></li>
            <li><a href="/patient">Patient</a></li>
            <li><a href="/assistant">Assistant</a></li>
        </ul>

</body>
</html>